@page
@model IndexModel
@{
    ViewData["Title"] = "Primeira Página";
}

<div class="text-center">
    <h1 class="display-4">Primeiro programa em .NET</h1>
    <p style="color: red">Esta é a primeira aula de .NET</p>
    <button>Clique Aqui</button>
    <p>Aprenda mais <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
